.container{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.container2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.card{
    width: 160rem;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
    overflow: hidden;
}
.card img{
    width: 50;
    display:block;
    height: 50%;
}

         .btn-grad {background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         